<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<h1>Invalid Nama dan Password </h1>

<h4>Silahkan <%= @nama %> klik link dibawah untuk login dengan user lain atau daftar dengan user baru.</h4> 
<td><%= link_to 'Login', :action => :index %></td>
<td><%= link_to 'Daftar', :action => :daftar_member %></td>